mkm_bot/xsd/mkm_bot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mkm="MkmBotXmlNamespace"
           targetNamespace="MkmBotXmlNamespace">

<xs:element name="MkmBot">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="DataProvider" type="mkm:DataProviderType"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="DataProviderType">
        <xs:sequence>
            <xs:element name="Endpoint" type="xs:string"/>
        </xs:sequence>
</xs:complexType>
  
</xs:schema>
